In [5]:
import pandas as pd
# Load the data
trips = pd.read_csv('data/trips.txt')
routes = pd.read_csv('data/routes.txt')
stops = pd.read_csv('data/stops.txt')
stop_times = pd.read_csv('data/stop_times.txt')
calendar = pd.read_csv('data/calendar.txt')
calendar_dates = pd.read_csv('data/calendar_dates.txt')

KeyboardInterrupt:

In [4]:
# find schedule for trip 630242838

stop_times[stop_times['trip_id'] == 664282428 ]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
399580,664282428,07:08:00,07:08:00,64593,1,NaN,0,0,0.0,1
399581,664282428,07:09:21,07:09:21,64569,24,NaN,0,0,2408.1,0
399582,664282428,07:10:09,07:10:09,64451,41,NaN,0,0,3849.3,0
399583,664282428,07:11:01,07:11:01,64582,75,NaN,0,0,5416.6,0
399584,664282428,07:11:28,07:11:28,64559,80,NaN,0,0,6222.5,0
399585,664282428,07:12:08,07:12:08,64568,90,NaN,0,0,7418.5,0
399586,664282428,07:12:57,07:12:57,64554,97,NaN,0,0,8889.0,0
399587,664282428,07:13:13,07:13:13,64456,100,NaN,0,0,9362.2,0
399588,664282428,07:13:29,07:13:29,81692,104,NaN,0,0,9840.0,0
399589,664282428,07:13:55,07:13:55,65090,110,NaN,0,0,10608.9,0
399590,664282428,07:14:29,07:14:29,80486,116,NaN,0,0,11629.7,0
399591,664282428,07:15:00,07:15:00,64512,122,NaN,0,0,12556.8,1
399592,664282428,07:15:11,07:15:11,80488,126,NaN,0,0,13124.4,0
399593,664282428,07:15:39,07:15:39,65130,133,NaN,0,0,14519.1,0
399594,664282428,07:15:53,07:15:53,65140,139,NaN,0,0,15217.5,0
399595,664282428,07:20:08,07:20:08,64416,237,NaN,0,0,28077.2,0
399596,664282428,07:30:42,07:30:42,64425,450,NaN,0,0,60077.0,0
399597,664282428,07:31:39,07:31:39,64417,477,NaN,0,0,62971.6,0
399598,664282428,07:33:06,07:33:06,64409,532,NaN,0,0,67358.3,0
399599,664282428,07:33:23,07:33:23,64411,551,NaN,0,0,68177.5,0
399600,664282428,07:34:00,07:34:00,64413,573,NaN,0,0,70067.4,1
399601,664282428,07:34:28,07:34:28,64414,595,NaN,0,0,71182.8,0
399602,664282428,07:34:55,07:34:55,64358,625,NaN,0,0,72278.5,0
399603,664282428,07:37:24,07:37:24,64419,689,NaN,0,0,78303.1,0
399604,664282428,07:38:04,07:38:04,64406,696,NaN,0,0,79915.0,0
399605,664282428,07:39:14,07:39:14,64402,718,NaN,0,0,82747.1,0
399606,664282428,07:40:19,07:40:19,64398,739,NaN,0,0,85356.5,0
399607,664282428,07:41:00,07:41:00,64397,747,NaN,0,0,87033.5,1
399608,664282428,07:41:59,07:41:59,64399,753,NaN,0,0,89171.0,0
399609,664282428,07:43:29,07:43:29,85388,774,NaN,0,0,92442.7,0
399610,664282428,07:47:00,07:47:00,85781,796,NaN,0,0,100083.2,1
399611,664282428,07:49:56,07:49:56,64340,824,NaN,0,0,103716.5,0
399612,664282428,07:50:48,07:50:48,64329,842,NaN,0,0,104775.9,0
399613,664282428,07:51:17,07:51:17,85792,845,NaN,0,0,105375.8,0
399614,664282428,07:52:00,07:52:00,85796,849,NaN,0,0,106264.1,1
399615,664282428,07:53:21,07:53:21,85791,863,NaN,0,0,107593.6,0
399616,664282428,07:58:00,07:58:00,64308,904,NaN,0,0,112161.0,1

In [ ]:
calendar_dates[calendar_dates['service_id'] == 1746057300000]